* {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
}

#site-wrapper {
    width: 93.6vw;
    margin: auto;
}

header {
  margin-top: 8.53vw;
  margin-left: 1.6vw;
  font-size: 6.4vw;
  color: #4E5150;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

#information {
  display: flex;
  flex-direction: column;
}

#contact {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 11.2vw;
  font-size: 3.7vw;
  color: #333333;
}

label {
  display: block;
  margin-top: 3.2vw;
  height: 3vw;
  font-size: 2.67vw;
  color: #4F4F4F;
}

.input-container {
  position:relative;
}

input {
  margin-top: 1.4vw;
  display: block;
  height: 10.6vw;
  border: #828282 1px solid;
  border-radius: 3.2vw;
  padding-left: 10.6vw;
}

.input-container span {
  position: absolute;
  color: #828282;
  font-size: 6.4vw;
  left: 2.73vw;
  top: 7.25vw;
}

#email {
  color: #828282;
}



