* {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #333333;
}

#site-wrapper {
    width: 93.6vw;
    margin: auto;
}

h1{
  margin-top: 8.53vw;
  margin-left: 1.6vw;
  font-size: 6.4vw;
  color: #4E5150;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

#information {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 11.2vw;
  font-size: 3.7vw;
  color: #333333;
}

label {
  display: block;
  margin-top: 3.2vw;
  height: 3vw;
  font-size: 2.67vw;
  color: #4F4F4F;
}

.input-container {
  position: relative;
}

input,  select {
  margin-top: 1.4vw;
  display: block;
  height: 10.6vw;
  width: 82.7vw;
  border: #828282 0.26vw solid;
  border-radius: 3.2vw;
  padding-left: 10.6vw;
  font-size: 3.2vw;
  color: #828282;
  font-family: Montserrat;
}

input[type=checkbox] {
  margin-top: 4.61vw;
  height: 4vw;
  width: 4vw;
  border-radius: 1vw;
}

input[type=submit] {
  margin-top: 5.33vw;
  margin-left: 48.27vw;
  height: 14.4vw;
  width: 44.27vw;
  border-radius: 3.2vw;
  background-color: #F2994A;
  color: #FFFFFF;
  font-size: 4.27vw;
  border: none;
  text-align: center;
  padding-left: 0vw;
}

.input-container span {
  position: absolute;
  color: #828282;
  font-size: 4.8vw;
  left: 2.73vw;
  top: 7.4vw;
}

#country-and-postal-code {
  display: flex;
  flex-direction: row;
  column-gap: 6.2vw;
}

#country-and-postal-code span {
  top: 10.41vw;
}

#country-and-postal-code select {
  width: 43.46vw;
  appearance: none;
}

#country-and-postal-code input {
  width: 32.6vw;
}

#country-and-postal-code #arrow-down {
  top: 11.11vw;
  left: 36.8vw;
  font-size: 4vw;
  background-color: #E0E0E0;
  border-radius: 1vw;
}

#save-information-container {
  margin-top: 4.4vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}

#save-information-container input {
  margin-top: 0vw;
}

#save-information-container label {
  margin-top: 0vw;
  margin-left: 2vw;
}

#basket {
  margin-top: 5.6vw;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 3.2vw;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  margin-top: 8.15vw;
  margin-left: 7.17vw;
  display: flex;
  flex-direction: row;
  column-gap: 4.96vw;
}

img {
  height: 33.33vw;
  width: auto;
  border-radius: 3.47vw;
}

.product-description {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 3.2vw;
  height: 5.41vw;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.46vw;
}

.new-price {
  font-size: 3.73vw;
  color: #F2994A;
}

.old-price {
  margin-left: 2.67vw;
  font-size: 2.67vw;
  color: #4E5150;
  text-decoration-line: line-through;
}

.quantity-box {
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 0vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32.8vw;
  border: 0.27vw solid #828282;
  border-radius: 3.2vw;
  padding: 4.432vw 2.7vw 4.432vw 2.7vw;
}

#quantity {
  font-size: 4.27vw;
}

button {
  width: 5.17vw;
  height: 5.17vw;
  border-radius: 1.06vw;
  background-color: #E0E0E0;
  color: #828282;
  border: none;
}

.quantity-box button span {
  font-size: 5.17vw;
}

#summary-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 23.24vw auto 5.33vw auto;
}

hr {
  color: #BDBDBD;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.59vw;
  font-size: 3.73vw;
  height: 6.93vw;
}



footer {
  color: #a9a9a9;
  margin-top: 25.33vw;
  margin-bottom: 6.4vw;
  text-align: center;
  font-size: 3.7vw;
}


